<%- include('../partials/header.ejs') %>

<div class="main">
  <h2>Select blog to read</h2>

  <% if(locals.loggedInUser) { %>
  <a class="btn" href="/new-blog">Create a new blog</a>
  <% } blogs.forEach(elm => { %>
  <a href="/blog/<%=elm.id%>">
    <div class="blog-card">
      <h3 class="blog-title"><%= elm.title %></h3>

      <p class="blog-creator">creator: <%= elm.createdBy.userName %></p>
    </div>
  </a>
  <% }); %>
</div>
<%- include('../partials/footer.ejs') %>
