<%- include('../partials/header.ejs') %>

<div class="main">
  <div class="blog-card">
    <h2><%=post.title%></h2>
    <p class="blog-creator">creator: <%= post.createdBy.userName %></p>
    <p class="blog-body"><%= post.body %></p>
  </div>


 
</div>

<%- include('../partials/footer.ejs') %>
